# Tableau authentication
ts_token=your-personal-access-token-name
ts_secret=your-personal-access-token-secret
api_version=3.19
server_url=https://tableau.yourdomain.com

# Snowflake credentials to update
sf_username=YOUR_USERNAME@YOURDOMAIN.EDU
sf_password=your-new-snowflake-password
